html {
  height: 100%;
  width: 100%;
}

/* Style the close button */
.close {
  position: absolute;
  right: 20px;
  bottom : -10px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  height : 10vh;
}


.display {
  display : none;
}